* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap;
  text-align: center;
}
body {
  background-color: #000;
}
.app {
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: scroll;
}

.content-msg {
  max-width: 400px;
  padding: 5px;
  font-size: 1.1em;
  display: block;
  margin: 10px auto;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.351);
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.container-form {
  display: flex;
  margin: auto;
  background-color: rgb(255, 255, 255);
  font-size: 1.1em;
  border-radius: 5px;
}
.content-form {
  max-width: 500px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

label {
  display: block;
  margin-top: 5px;
}
button {
  background-color: #ffffffac;
  color: blue;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  padding: 5px;
  align-items: center;
  cursor: pointer;
  margin: 5px auto;
  border: none;
  box-shadow: 0 0 1px;
  padding: 5px;
  border-radius: 5px;
}
input {
  padding: 5px;
  width: 40%;
}
